h4{
    font-family: var(--font-syne);
    font-size: 0.95rem;
}
p{
    font-family: var(--font-quicksand);
    font-size: 1.125rem;
    padding-top: 5%;
}
h3{
  font-family: var(--font-syne);
  margin: 0;
  padding: 3%;
  font-weight: regular;
  font-size: 18px;
}
h2{
  font-family: var(--font-syne);
  text-align: center;
  font-size: 20px;
}