body{
    background-color: var(--primary6);
    margin: 0;
}
img{
    max-width: 100%;
}
.index__intro{
    margin: 2%;
    padding: 15px;
    height: auto;
    width: auto;
}

 
.index__intro__p{
    font-size: 1.1rem;
}
p{
    padding: 8%;
    margin: 0;
}
.logo_foret {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: white; 
    padding: 15px; 
    border-radius: 20px;
    margin-top: -20px;
}
.block_article_degra{
    width: 70%;
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgba(244, 131, 159, 0.8) 9.57%, rgba(250, 157, 129, 0.81) 56.45%, #FBE2D0 109.57%);
    border-radius: 24px;
}
.flex_article{
    display: flex;
    justify-content: center;
}
.faux_verzy_img{
    width: 88px;
    padding-top: 14px;
    padding-left: 25px;
    padding-bottom: 14px;
}
.flex_article h4{
    padding: 1em;
    margin: 0;
    padding-top: 26px;
    padding-left: 15px;
    padding-right: 10px;
    width: 120px;
    height: 70px;
    text-align: center;
    color: black;
}
.prozac_nation_first_bar{
    position: absolute;
    top: 84%
}
.prozac_nation_two_bar{
    position: absolute;
    right: 0;
    top: 146%;
}
.index__article{
    margin-left: 8%;
    margin-right: 10%;
}

.index__intro__p{
    margin: 0;
    font-size: var(--font-size-heading1);
    padding: 10px;
} 
.whitebox_super{
    margin-top: 10px;
    padding: 5px;
}
.super_first_bar{
    position: absolute;
    top: 165%;
}
.super_two_bar{
    position: absolute;
    top: 230%;
    right: 0;
}
.index__intro_odelaf{
    margin: 2%;
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.odelaf_decoration_1{
    position: absolute;
    top: 70%;
    right: 0;
}
.odelaf_decoration_2{
    position: absolute;
    top: 90%;
}
.odelaf_decoration_3{
    position: absolute;
    top: 110%;
    right: 0;
}
.odelaf_decoration_4{
    position: absolute;
    top: 165%;
}
.odelaf_decoration_5{
    position: absolute;
    top: 180%;
    right: 0;
}
.odelaf_decoration_6{
    position: absolute;
    top: 205%;
}
.odelaf_decoration_7{
    position: absolute;
    top: 225%;
    right: 0;
}
.odelaf_decoration_8{
    position: absolute;
    top: 230%;
    right: 0;
}
.ia_decoration_1{
    position: absolute;
    top: 145%;
}
.ia_decoration_2{
    position: absolute;
    top: 185%;
    right: 0;
}
.vidéo_odelaf{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-decoration article p{
    padding: 10%;
}
.image_propos{
    width: 225px;
    height: 225px;
}
.flex_image{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
main_flex{
    
}