body{
    background-color: var(--primary6);
    margin: 0;
}
img{
    max-width: 100%;
}
.index__intro{
    margin: 2%;
    padding: 15px;
    height: auto;
    width: auto;
}
.index__intro__p{
    margin: 0;
    font-size: var(--font-size-heading1)
}   
